html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
}

.container {
    width: 1200px;

}

.goods-cort {
    width: 250px;
    height: 260px;
}

.row {
    margin: 0 -1.25%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.site-footer {
    background: #fff;
    padding: 60px 0 44px 0;
}

.block-370 {
    width: 30.8333%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}

.block-170 {
    width: 14.166666%;
    min-height: 100px;
    float: left;
    margin: 0 1.25%;
}

.red{
    background: red;
}